* {
    box-sizing: border-box;
    /* border: red 1px dashed; */
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    background-image: radial-gradient(
                    rgba(10, 10, 200, 0.717),
                    rgba(179, 48, 8, 0.3)
                    );
}

body {
    
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    overflow: hidden;
}

header {
    font-size: 3em;
    height: 80vh;
    font-family: 'Bangers', cursive;
    perspective: 600px;
    transition: opacity 2s;
}

header h1 {
    transform: rotateX(35deg); 
    letter-spacing: .1em;
    text-shadow: 1px 1px 1px red, 
                 -1px -1px 1px red, 
                 -1px 1px 1px red, 
                 1px -1px 1px red,
                 5px 5px 3px black;
    transition: all 300ms;
}

header h1:hover {
    transform: scale(1.2);
}

header button {
    background-color: rgb(58, 2, 80);
    color: orange;
    padding: 10px 30px;
    box-shadow: 5px 5px 5px black;
    transition: all 300ms;
}

header button:hover {
    box-shadow: 15px 15px 15px black;
    transform: scale(1.25);
}

.btn-box {
    height: 150px;
}

.btn-box-2 {
    height: 60px;
}

.hide-up {
    margin-top: -80vh;
    transition: margin-top 1.5s;
}

main {
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 20fr;
    grid-template-areas: 
        "edit header header"
        "edit image image";
    overflow: hidden;
    color: rgb(231, 230, 230);
    font-size: 1em;
    background:  url('static/carbn_rect.png');
    background-size: initial;
    height: 98vh;
}

#upload-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em .5em;
    grid-area: header;
}

#upload-form label {
    font-size: 1.8em;
    margin-right: 1.2em;
    color: rgb(22, 190, 190);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(173, 24, 24), 
                 -2px -2px 1px rgb(0, 0, 0), 
                 1px -1px 0px rgb(0, 0, 0), 
                 -2px 2px 1px rgb(0, 0, 0);
    margin-right: 1em;
}

#upload-form div:nth-child(4) {
    width: 130px;
}

input[type=file],
input[type=url] {
    max-width: 310px;
    /* max-height: 40px; */
    padding: 0px 10px;
    border: red 1px solid;
    border-radius: 5px;  
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

main button,
.gallery button {
    background-color: #0cb218;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    font-family: 'Bangers';
    font-size: 1.2rem;
    transition: all 300ms;
}

main button:hover,
.gallery button:hover {
    transform: scale(1.1);
    box-shadow: black 4px 4px 4px;
    font-size: 1.25rem;
}

button:hover {
    background-color: red;
    color: yellow;
}

input, button, 
textarea, select {
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 90%;
    resize:vertical;
}

#edit-zone {
    grid-area: edit;
    overflow: auto;
    min-width: 70px;
}

#edit-zone p {
    margin: 0;
    color: rgb(22, 190, 190);   
    font-size: 1.4rem;
    font-weight: bold;
    margin: .4rem 0;
}

#edit-zone a {
    color: rgb(214, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    /* border: white 1px solid; */
    /* border-radius: 5px; */
    padding: 5px 0;
    margin: 5px 0;
}

#edit-zone a:hover {
    color: rgb(40, 231, 59);
}

#advanced-zone a {
    font-weight: bold;
}

.edit-detail-1 {
    padding: 5px;
}

.edit-detail-1 > div {
    padding: 5px 5px 15px 5px;
    border: black 1px solid;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(19, 14, 109, 0.9);
}

.edit-label-1 {
    width: 35%;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 90%;
    display: inline-block;
}

input[type=range] {
    width: 100%;
}

.small-info-box {
    width: 100%;
    min-height: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
}

#save-btn {
    height: 10%;
}

#meme-zone {
    width: 100%;
    height: 100%;
    grid-area: image;
    overflow: hidden;
    position: relative;
    background-color: rgb(71, 71, 71);
}

#canvas-wrapper {
    perspective: 600px;
}

canvas {
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.fliped {
    transform: rotateY(1turn) rotateX(1turn);
}

.skew {
    transition: transform 400ms;
    transform: skew(15deg, 15deg);
    animation: skew .4s 2 .4s ;    
    animation-direction: alternate;
}

@keyframes skew {
    0% {
        transform: skew(15deg, 15deg);
    }
    100% {
        transform: skew(-15deg,-15deg);
    }
}

.gallery {
    padding: 0% 2%;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    letter-spacing: .6rem;
}

.gallery-item {
    margin: 50px 10px 10px 10px;
}

.flex-std {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-std-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-black {
    color: black;
}

.text-white {
    color: rgb(255, 255, 255);
}

.stroke-white {
    text-shadow: #cf0303 1px 1px 1px,
    #0e0101 -2px 2px 2px,
    black 2px -2px 2px,
    black -2px -2px 2px;
}

.bg-trans-1 {
    background-color: rgb(0, 0, 0);
}

.inline-block {
    display: inline-block;
}

.hidden {
    opacity: 0;
}

.display-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.pos-relative {
    position: relative;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-3-1 {
    margin-right: 16px;
}

.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}

.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-3 {
    margin-bottom: 15px;
}

.mt-5 {
    margin-top: 35px;
}

.pb-3 {
    padding-bottom: 15px;
}

.tiny {
    font-size: small;
}

.cursor-p {
    cursor: pointer;
}

.font-weight-norm {
    font-weight: normal;
}

@media only screen and (max-width: 994px) {
    header {
        font-size: xx-large;
    }

    header h1 {
        margin-bottom: 0;
    }

    .btn-box {
        height: 100px;
    }

    main {
        font-size: smaller;
    }

    #upload-form label {
        font-size: .9em;
        margin-right: 1em;
    }

    input[type=file] {
        max-width: 150px;
    }

    input[type=url] {
        padding: 3px 10px;
    }

    #edit-zone p {
        font-size: 1.1em;
    }

    .edit-detail-1 {
        padding: 0%;
    }

    #zoom-form img {
        width: 20px;
        height: 20px;
        margin: 3px;
    }

    main button,
    .gallery button {
    padding: 2px 4px;
    font-size: 1rem;
    }

    .tiny {
        font-size: xx-small;
    }
} 

@media only screen and (min-width: 995px) and
(max-width: 1079px) {

    #upload-form label {
        font-size: 1.4em;
        margin-right: 1.1em;
    }

    #zoom-img button {
        padding: 10px;
    }

    input[type=url] {
        padding: 3px 10px;
    }

    main button,
    .gallery button {
        padding: 5px 15px;
    }

    #edit-zone p {
        font-size: 1.2em;
    }

    .tiny {
        font-size: x-small;
    }
}

@media only screen and (min-width: 1080px) and
(max-width: 1383px) {

    #upload-form label {
        font-size: 1.4em;
        margin-right: 1.2em;
    }

    input[type=url] {
        padding: 3px 10px;
    }

    #zoom-img button {
        padding: 15px;
    }

    main button,
    .gallery button {
        padding: 5px 20px;
    }

    #edit-zone p {
        font-size: 1.3em;
    }

    .tiny {
        font-size: x-small;
    }

    #edit-zone {
        padding: 0 15px;
    }
}


@media only screen and (min-width: 1384px) {
    body {
        padding: 0 2%;
    }

    main {
        border-radius: 10px;
    }

    input[type=url] {
        padding: 3px 10px;
    }

    #edit-zone {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1501px) {
    body {
        padding: 0 2%;
    }

    main {
        margin-top: 20px;
        height: 90vh;
    }
}


.abrilFF {
    font-family: 'Abril Fatface';
}
.Alfa {
    font-family: 'Alfa Slab One';
}
.Anton {
    font-family: 'Anton';
}
.BalooC {
    font-family: 'Baloo Chettan 2';
}
.Baloo {
    font-family: 'Baloo 2';
}
.Bellota {
    font-family: 'Bellota Text';
}
.Fredoka {
    font-family: 'Fredoka One';
}
.Lato {
    font-family: 'Lato';
}
.Lobster {
    font-family: 'Lobster';
}
.Merriweather {
    font-family: 'Merriweather';
}
.Montserrat {
    font-family: 'Montserrat';
}
.Raleway {
    font-family: 'Raleway';
}
.Righteous {
    font-family: 'Righteous';
}
.Sigmar {
    font-family: 'Sigmar One';
}
.Pacifico {
    font-family: 'Pacifico';
}
.Poppins {
    font-family: 'Poppins';
}
.RobotoM {
    font-family: 'Roboto Mono';
}
.RobotoS {
    font-family: 'Roboto Slab';
}
.Elite {
    font-family: 'Special Elite';
}
.Ubuntu {
    font-family: 'Ubuntu';
}
.Ultra {
    font-family: 'Ultra';
}
